
doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
  meta(name='description' content='Chameleon Admin is a modern Bootstrap 4 webapp & admin dashboard html template with a large number of components, elegant design, clean and organized code.')
  meta(name='keywords' content='admin template, Chameleon admin template, dashboard template, gradient admin template, responsive admin template, webapp, eCommerce dashboard, analytic dashboard')
  meta(name='author' content='ThemeSelect')
  title
    | Dashboard - Chat Admin 
  link(rel='apple-touch-icon' href='/theme-assets/images/ico/apple-icon-120.png')
  link(rel='shortcut icon' type='image/x-icon' href='/images/chat.png')
  link(href='https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700' rel='stylesheet')
  link(href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css' rel='stylesheet')
 
  // BEGIN VENDOR CSS
  link(rel='stylesheet' type='text/css' href='/theme-assets/css/vendors.css')
  link(rel='stylesheet' type='text/css' href='/theme-assets/vendors/css/charts/chartist.css')
  link(rel='stylesheet' type='text/css' href='/theme-assets/vendors/css/charts/chartist-plugin-tooltip.css')


 
  // END VENDOR CSS
  // BEGIN CHAMELEON  CSS
  link(rel='stylesheet' type='text/css' href='/theme-assets/css/app-lite.css')
  // END CHAMELEON  CSS
  // BEGIN Page Level CSS
  link(rel='stylesheet' type='text/css' href='/theme-assets/css/core/menu/menu-types/vertical-menu.css')
  link(rel='stylesheet' type='text/css' href='/theme-assets/css/core/colors/palette-gradient.css')
  link(rel='stylesheet' type='text/css' href='/theme-assets/css/pages/dashboard-ecommerce.css')
  style.
    .notification-dropdown {
        max-height: 500px; /* Chiều cao tối đa của menu */
        overflow-y: auto;  /* Thêm thanh cuộn theo chiều dọc khi vượt quá chiều cao */
      }
    .notification-item {
        padding: 10px;
        border-bottom: 1px solid #eeeeee;
      }
      .notification-item:last-child {
        border-bottom: none;
      }
      .notification-title {
        font-weight: bold;
        margin-bottom: 5px;
      }
      .notification-time {
        font-size: 12px;
        color: #999;
      }
      .notification-time {
          font-size: 12px;
          color: #999;
          margin-left: auto;
      }
      .notification-icon {
          font-size: 20px;
          color: #7367F0;
      } 
      .notification-icon {
          font-size: 24px;
          color: #fff;
          background-color: #7367F0;
          padding: 10px;
          border-radius: 8%;
          box-shadow: 0 4px 15px rgba(115, 103, 240, 0.4);
          transition: transform 0.3s ease, box-shadow 0.3s ease;
      }
      .notification-item:hover .notification-icon {
          transform: scale(1.1);
          box-shadow: 0 6px 20px rgba(115, 103, 240, 0.6);
      }
      .sub-menu {
        list-style: none;
        margin: 0;
        padding: 10px 20px;
        background-color: #f9f9f9;
        border-left: 2px solid #7367f0;
        display: none;
      }

      .sub-menu li a {
        display: block;
        padding: 5px 0;
        color: #333;
        text-decoration: none;
        font-size: 14px;
      }

      .notification-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .toggle-icon {
        margin-left: auto;
        cursor: pointer;
      }

      .collapsible.active + .sub-menu {
        display: block;
      }
  nav.header-navbar.navbar-expand-md.navbar.navbar-with-menu.navbar-without-dd-arrow.fixed-top.navbar-semi-light
    .navbar-wrapper
      .navbar-container.content
        #navbar-mobile.collapse.navbar-collapse.show
          ul.nav.navbar-nav.mr-auto.float-left
            li  
              .btn 
                .custom-menu
                  button#sidebarCollapse.btn.btn-primary.ft-menu(type='button')
                    i.fa.fa-bars
            li.nav-item.d-block.d-md-none 
              a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
                i.ft-menu
            li.nav-item.d-none.d-md-none
              a.nav-link.nav-link-expand(href='#')
                i.ficon.ft-maximize
            li.nav-item.dropdown.navbar-search
              a.nav-link.dropdown-toggle.hide(data-toggle='dropdown' href='#')
                i.ficon.ft-search
              ul.dropdown-menu
                li.arrow_box
                  form
                    .input-group.search-box
                      .position-relative.has-icon-right.full-width
                        input#search.form-control(type='text' placeholder='Search here...')
                        .form-control-position.navbar-search-close
                          i.ft-x    
          ul.nav.navbar-nav.float-right
            li.dropdown.dropdown-language.nav-item
              a#dropdown-flag.dropdown-toggle.nav-link(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                i.flag-icon.flag-icon-vn
                span.selected-language
              .dropdown-menu(aria-labelledby='dropdown-flag')
                .arrow_box
                  a.dropdown-item(href='#')
                    i.flag-icon.flag-icon-vn  
                    |  Vietnamese
                  a.dropdown-item(href='#')
                    i.flag-icon.flag-icon-us
                    |  English
                  a.dropdown-item(href='#')
                    i.flag-icon.flag-icon-cn
                    |  Chinese
                  a.dropdown-item(href='#')
                    i.flag-icon.flag-icon-ru
                    |  Russian
                  a.dropdown-item(href='#')
                    i.flag-icon.flag-icon-fr
                    |  French
                  a.dropdown-item(href='#')
                    i.flag-icon.flag-icon-es
                    |  Spanish
                 
          ul.nav.navbar-nav.float-right
            li.dropdown.dropdown-notification.nav-item
              a.nav-link.nav-link-label(href='#' data-toggle='dropdown')
                i.ficon.ft-bell.bell-icon
                span.badge.badge-pill.badge-danger.notification-badge #{total}
              .dropdown-menu.dropdown-menu-right.notification-dropdown
                .arrow_box_right
                  h6.dropdown-header Notifications 
                  .dropdown-divider
                  a.dropdown-item.notification-item(href='#' data-notification-id='1')
                    i.ft-mail.notification-icon
                    span.notification-title New message received
                  //- each item in contacts
                  //-   .notification-item
                  //-     .notification-title #{item.message}
                  //-     .notification-time #{moment(item.createdAt).fromNow()}       
                  a.dropdown-item.notification-item(href='#' data-notification-id='2')
                    i.ft-bookmark.notification-icon
                    span.notification-title New Posts created
                  each item in posts 
                    .notification-item
                      .notification-name #{item.title}
                      .notification-time #{moment(item.createdAt).fromNow()}

                  a.dropdown-item.notification-item(href='#' data-notification-id='3')
                    i.ft-check-square.notification-icon
                    span.notification-title New Groups created
                  each item in groups 
                    .notification-item
                      .notification-name #{item.name}
                      .notification-time #{moment(item.createdAt).fromNow()}

                  .dropdown-divider
                  a.dropdown-item.text-center(href='/ad/notifications') View All Notifications




            li.dropdown.dropdown-user.nav-item
              a.dropdown-toggle.nav-link.dropdown-user-link(href='#' data-toggle='dropdown')
                span.avatar.avatar-online
                  img(src='/theme-assets/images/portrait/small/avatar-s-19.png' alt='avatar')
                  i
              .dropdown-menu.dropdown-menu-right
                .arrow_box_right
                  a.dropdown-item(href='#')
                    span.avatar.avatar-online
                      img(src='/theme-assets/images/portrait/small/avatar-s-19.png' alt='avatar')
                      span.user-name.text-bold-700.ml-1 #{user.fullName}
                  .dropdown-divider
                  a.dropdown-item(href='#')
                    i.ft-user
                    |  Edit Profile
                  //- a.dropdown-item(href='#')
                  //-   i.ft-mail
                  //-   |  My Inbox
                  //- a.dropdown-item(href='#')
                  //-   i.ft-check-square
                  //-   |  Task
                  //- a.dropdown-item(href='#')
                  //-   i.ft-message-square
                  //-   |  Chats
                  .dropdown-divider
                  a.dropdown-item(href='/ad/logout')
                    i.ft-power
                    |  Logout
  // ////////////////////////////////////////////////////////////////////////////
    
  .main-menu.menu-fixed.menu-light.menu-collapsed.menu-accordion.menu-shadow(data-scroll-to-active='true' data-img='/theme-assets/images/backgrounds/02.jpg')
  
  
    .navbar-header
      ul.nav.navbar-nav.flex-row
        li.nav-item.mr-auto
          a.navbar-brand(href='/ad/dashboard')
            img.brand-logo(alt='Chameleon admin logo' src='/images/chat.png')
            h3.brand-text Admin Chat
        li.nav-item.d-md-none
          a.nav-link.close-navbar
            i.ft-x
          
    .main-menu-content
      ul#main-menu-navigation.navigation.navigation-main(data-menu='menu-navigation')
        li.active
          a(href='/ad/dashboard')
            i.ft-home
            span.menu-title(data-i18n='') Dashboard
        li.nav-item
          a(href='/ad/charts')
            i.ft-pie-chart
            span.menu-title(data-i18n='') Charts
        li.nav-item
          a(href='/ad/notifications')
            i.ft-bell
            span.menu-title(data-i18n='') Notifications
        li.nav-item
          a(href='/ad/posts')
            i.ft-layers
            span.menu-title(data-i18n='') Post
        li.nav-item
          a(href='/ad/maps')
            i.ft-box
            span.menu-title(data-i18n='') Maps
        li.nav-item
          a(href='/ad/contact')
            i.ft-message-square
            span.menu-title(data-i18n='') Contacts messages
        if(role.permissions.includes("roles_view"))
          li.nav-item
            a(href='/ad/roles')
              i.ft-credit-card
              span.menu-title(data-i18n='') Roles
        if(role.permissions.includes("roles_permissions"))
          li.nav-item
            a(href='/ad/roles/permissions')
              i.ft-layout
              span.menu-title(data-i18n='') Permissions
        if(role.permissions.includes("accounts_view"))  
          li.nav-item
            a(href='/ad/accounts')
              i.ft-book
              span.menu-title(data-i18n='') Accounts
    .navigation-background
  .main     
    block main

script.
  document.getElementById('sidebarCollapse').addEventListener('click', function() {
    var menu = document.querySelector('.main-menu');
    var body = document.querySelector('.app-content');
    var head = document.querySelector('.navbar-wrapper');

    // Toggle class 'menu-collapsed' cho menu
    menu.classList.toggle('menu-collapsed');
    head.classList.toggle('header-collapsed')

    // Thay đổi margin-left cho body khi menu thụt ra vào
    if (menu.classList.contains('menu-collapsed')) {
      body.classList.remove('menu-open');
    } else {
      body.classList.add('menu-open');
    }
  });

  // Lấy tất cả các phần tử có lớp toggle-icon
  
    

